.footer-container {
    padding-bottom: 5.62rem;
    overflow: hidden;
}

.footer-link-title {
    color: #DCDCDD;
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    display: block;
    margin-bottom: 1.31rem;
}

.footer-link {
    color: #DCDCDD;
    font-family: "Roboto Mono";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: block;
    margin-bottom: 0.75rem;
}

.footer-input-container .form-control,
.footer-input-container .form-control:hover,
.footer-input-container .form-control:active,
.footer-input-container .form-control:focus,
.footer-input-container .form-control:focus-visible {
    border-radius: 0rem;
    background-color: #222;
    border-bottom: 2px solid #D9D9D9;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    box-shadow: none;
    outline: none;
    color: #D9D9D9;
    margin-top: 0rem;
    font-family: "Roboto Mono";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-input-container .form-control::placeholder {
    color: #D9D9D9;
}

.footer-input-container .btn-primary,
.footer-input-container .btn-primary:hover,
.footer-input-container .btn-primary:focus-visible {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0rem;
    background-color: #222;
    border: 2px solid #D9D9D9;
    color: #D9D9D9;
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-shadow: none;
}


.footer-input-container .btn-primary:hover {
    box-shadow: 0.3rem 0.3rem #D9D9D9;

}

.footer-input-container .btn-primary:active {
    background-color: #D9D9D9 !important;
    color: #222 !important;
    box-shadow: 0.3rem 0.3rem #D9D9D9;
    border: 2px solid #222 !important;
}


.footer-title {
    color: #D9D9D9;
    text-align: center;
    font-family: "Funnel Display";
    font-size: 11vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin: 0rem;
    padding: 0rem;
    white-space: nowrap;
    display: block;
}