.my-nav-container .bg-body-tertiary {
    background-color: #222 !important;
    padding: 0rem !important;
    width: 100%;
}

.my-nav-container {
    width: 100%;
    border-bottom: 2px solid #D9D9D9;
}

.my-nav {
    background-color: #222 !important;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
}

#nav-tilte {
    color: #D9D9D9 !important;
    font-family: "Funnel Display";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 0rem;
}

.my-nav a,
.my-nav button {
    color: #D9D9D9 !important;
    font-family: "Roboto Mono";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 0rem 1rem 0rem 1rem;
}

.my-nav a:hover,
.my-nav button:hover,
.my-nav button:focus,
.my-nav button:focus-visible {
    text-decoration: line-through;
    color: #D9D9D9 !important;
    border: none;
    box-shadow: none;
}

.navbar-toggler {
    margin-right: 0rem !important;
    border: none !important;
}


/* DESPLEGALBE */

.offcanvas,
.offcanvas-header,
.offcanvas-body,
.my-nav-dropdown .dropdown-menu {
    background-color: #222;
    border: none;
}

.my-nav-dropdown .dropdown-menu a {
    color: #D9D9D9;
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offcanvas-body {
    padding-left: 4rem !important;
}

.offcanvas a,
.offcanvas-header a,
.offcanvas-body a {
    color: #D9D9D9 !important;
    font-family: "Roboto Mono";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offcanvas a:hover,
.offcanvas-header a:hover,
.offcanvas-body a:hover,
.offcanvas a:active,
.offcanvas-header a:active,
.offcanvas-body a:active,
.offcanvas a:focus,
.offcanvas-header a:focus,
.offcanvas-body a:focus,
.offcanvas a:focus-visible,
.offcanvas-header a:focus-visible,
.offcanvas-body a:focus-visible {
    color: #D9D9D9 !important;
    box-shadow: none !important;
    background-color: #222 !important;
    border: none !important;
    outline: none !important;
}

.offcanvas a:hover,
.offcanvas-header a:hover,
.offcanvas-body a:hover,
.offcanvas a:active,
.offcanvas-header a:active,
.offcanvas-body a:active {
    text-decoration: line-through !important;
}